@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: #94a3b8;
  background-color: #0b0b0c;
  font-family: 'Inter', sans-serif;
}

.this {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.blurEffect {
  position: fixed;
  width: 800px;
  height: 800px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(100px);
  background: radial-gradient(
    circle at 50% 50%,
    rgba(76, 0, 255, 1),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.2;
  z-index: -100;
}

pre {
  font-family: monospace;
  font-size: 18px;
}

.slide-up {
  animation: slide-up 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(30px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
